.container > div{
    height: 500px;
    width: 300px;
    border: 10px solid red;
    overflow-y: scroll;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}